<% include ../partials/header %>

  <div class="container">
    <h1 id="center">
      Edit Comment on
      
    </h1>
    <div class="row">
      <div id="card__center">
        <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
          <div class="form-group">
            <input class="form-control" type="text" name="comment[text]" id="text" placeholder="Enter the comment text" value="<%= comment.text %>">
          </div>
          <!-- <div class="form-group">
                <input class="form-control" type="text" name="comment[author]" id="author" placeholder="Enter the author">
              </div> -->
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </div>
        </form>
        <a href="/campgrounds">Go Back</a>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>