<% include partials/header %>

  <div class="container">
    <div class="row">
      <h1>This is a show Page</h1>
      <br/>  
      <div class="card"></div>
    </div>
  </div>

  <% include partials/footer %>