body {
  max-height: 100vh;
}

#delete-form {
  display: inline;
}

#center {
  text-align: center;
}

#card__center {
  width: 40%;
  margin: 5vh auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: fuchsia;
  color: white;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}
footer p {
  padding-top: 6px;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

.search {

}

.search__results {
  text-align: center;
  background: white;
  /* height: 10vh; */
  position: absolute;
  width: 40%;
  top: 100%;
  left: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  margin-bottom: 25px;
  /* display: block; */
}

.search__results >a {
  display: block
}

.search__result--active {
  background: #f1f1f1;
}